<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Jeu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="result != undefined">
    <ion-item *ngIf="result == true" color="success" text-center>
      <ion-label>
        Gagné!!
      </ion-label>
    </ion-item>
    <ion-item *ngIf="result == false" color="danger" text-center>
      <ion-label>
        Perdu :( <br>
        Le mot secret était {{ word }}
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-img src="assets/images/piou_{{ lifes }}.jpg" style="height: 250px"></ion-img>
  </ion-card>
  <ion-card>
    <ion-item text-center>
      <ion-label>
        <span *ngFor="let x of hidedWord">{{ x }} </span>
      </ion-label>

    </ion-item>
  </ion-card>
  <ion-card text-center>
    <ion-button *ngFor="let x of alphabet" [color]="checkWrongLetter(x) ? 'danger' : 'primary'" (click)="onClickLetter(x)">{{  x }}</ion-button>
  </ion-card>
</ion-content>
